@import "../../sass/abstract/variables";
@import "../../sass/abstract/mixins";

.search-container {
  @include flex-center;
  max-width: 76.8rem;
  width: 100%;
  column-gap: 0;
  background-color: $danger-color;
  @media (min-width: 560px) {
    column-gap: 10rem;
    background-color: $white-color;
  }
  &__form {
    width: 100%;
  }
}
